*.bak
*.crpt
*.cst
*.db
*.e
*.log
*.pf
*.r
*.wrk
.cvclist
.pct
ictrg0*.p
procore
protrace
protrace.[0-9]*

/refresh/

/build/
/config/
/databases/
/dist/
/scripts/
/servers/
/tp/

/customizations/ict/
/customizations/mfg/work/
/customizations/work/

